*{
    margin: 0px;
    padding: 0px;
}

.hello{
    height: 100vh;
    width: "100%";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second{
    height: 550px;
    width: 600px;
    background-color:rgb(235, 225, 225);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}